# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://jzquxoruxlarthdrqsah.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6cXV4b3J1eGxhcnRoZHJxc2FoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2NDAyNzEsImV4cCI6MjA3MjIxNjI3MX0.VRr0k-W445fxYZc8a7LW4oB-Do0n4yWKzeAaUUhAoQ0

# Database Configuration
DATABASE_URL=your_database_url

# Next.js Configuration
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
